@import "./_variables.scss";


.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 0 5vw;
  h1 {
    font-family: $head;
    // font-weight: 600;
    font-size: 1.75rem;
    max-width: 21ch;
    margin: 1.1rem 0;
    // margin-top: 2.5rem;
    // bordeR: 1px solid red; //debug
  }
  img {
    max-width: 27.5vmax;
    margin: .5rem 0;    
  }
  p {
    font-family: $body;
    font-size: 1.1rem;
    max-width: 40ch;
    margin: .8rem 0;
  }
  @media (max-width: $tablet-bp) {
    h1 {
      max-width: 20ch;
    }
    p {
      max-width: 30vw;
      
    }
  }
}

@media (max-width: $mobile-bp) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;   
    // max-width: 90vw;

    h1 {
      font-size: 1.5rem;
      max-width: 90vw;
    }
    p {      
      // border: 1px solid red;
      max-width: 80vw;
    }
    img {
      max-width: 75vw;
    }   
  }
}

.dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 2.5vh 0;
}
.dataTable td, .dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dataTable tr:nth-child(even){background-color: #f2f2f2;}

.dataTable tr:hover {background-color: #ddd;}

.dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5B2EC5;
  color: white;
}

.covidMap {
  width: 480px;
  height: 360px;
}
@media (max-width: $mobile-bp) {
  .covidMap {    
    width: 90vw !important;
    margin: 0;
    padding: 0;    
    // margin: 0 auto;
  }
}

.newsContainer {
  display: flex;
  flex-direction: column;
  // width: 100%;
  // border: 1px solid purple; //debug
  .newsGrid {
    display: flex;
    width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
    // border: 1px solid red;//debug
    div {
      //individual news box
      padding: 1.25vmax;
      // padding-left: 0;
      // width: 35vw !important; 
      max-width: 35vw;

      // border: 1px solid blue; //debug
    }
    div:nth-of-type(2n) {
      margin-left: 1.5vmax;
    }
    @media (max-width: $tablet-bp) {
      div {
        width: 35vw;
        max-width: 35vw;
        padding: 1.25vmin;
        img {
          margin: 0;
        }
      }
      div:nth-of-type(2n) {
        margin-left: 3.25vmax;
      }
    }
    @media (max-width: $mobile-bp) {
      div {
        width: 80vw;
        max-width: 90vw;
        
      }
      div:nth-of-type(2n) {
        margin-left: 0;
      }
    }

  }
    


}

.emergencyContainer {
  border-collapse: collapse;
  th {
  background-color: #5B2EC5;
    color: #fcfcfc;
  }
  td a {
    padding: 0 .5rem;
    font-weight: 600;
    font-family: $body;    
  }
  td a:nth-of-type(2n) {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    
  }
  td a:last-of-type {
    border: none;
  }
  td, th {
    border: 1px solid #999; 
    padding: 1.25rem;
    text-align: left;
    border: 0;

  }
  tr:nth-of-type(2n) {
    background: #dcdcdc;

  }
}
.mobileEmergency {
  display: none;
}
@media (max-width: $mobile-bp) {
  .emergencyContainer {
    max-width: 90vw;
    display: none;
    // border: 1px solid red;
  }
  .mobileEmergency {
    display: flex;
    flex-direction: column;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column
    }
    img {
      width: 35vw;
      margin: 1.5rem 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      font-size: 1.5rem;
      color: #fcfcfc;
      background:#5B2EC5;
      padding: .8rem 1.1rem;
      border-radius: 1.1rem;
      margin: .5rem 0;
      img {
        max-height: 1.5rem;
        max-width: 1.5rem;
        margin: 0;
        margin-right: .5rem;
      }
    }

  }
}

// store.js styles
.productsParent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 90vw;
}
.productContainer {
  display: flex;
  max-width: 25vw;
  margin: 1.1rem;
  // border: 1px solid red; //debug
  img {
    max-width: 20vmin;
    // max-height: 20vmin;
  }
  span {
    margin: 0 .5rem;
    .price {
      font-size: 2rem;
      font-weight: 700;
      color: #5B2EC5;
      // background: #5B2EC5;
      // max-width: fit-content;      
      // border: 1px solid green; //debug
    }
  }
  @media (max-width: $mobile-bp) {
    img {
      max-width: 25vw;
      max-height: 25vw;
    }
  }
}

@media (max-width: $mobile-bp) {
  .aboutSpan {
    p {
      padding: 0 10vw;
      // border: 1px solid red; //debug
    }
  }
}