@import "./_variables.scss";


.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10vw;
}

@media (max-width: $mobile-bp) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    // max-width: 90vw;

  }
}

.dataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 2.5vh 0;
}
.dataTable td, .dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dataTable tr:nth-child(even){background-color: #f2f2f2;}

.dataTable tr:hover {background-color: #ddd;}

.dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5B2EC5;
  color: white;
}

.covidMap {
  width: 480px;
  height: 360px;
}
@media (max-width: $mobile-bp) {
  .covidMap {    
    width: 90vw !important;
    margin: 0;
    padding: 0;    
    // margin: 0 auto;
  }
}

.newsContainer {
  display: flex;
  flex-direction: column;
  .newsGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // border: 1px solid red;//debug
    div {
      //individual news box
      padding: 1.25vmax;
      // padding-left: 0;
      max-width: 40vw;
      // border: 1px solid blue; //debug
    }
    div:nth-of-type(2n) {
      margin-left: 3.25vmax;
    }
  }
    
  h1 {
    font-size: 1.75rem;
    max-width: 25ch;
    margin: 1.1rem 0;
    // margin-top: 2.5rem;
    // bordeR: 1px solid red; //debug
  }
  img {
    max-width: 27.5vmax;
    margin: .5rem 0;
    
  }
  p {
    font-size: 1.1rem;
    max-width: 40ch;
    margin: .8rem 0;
  }
}

.emergencyContainer {
  border-collapse: collapse;
  th {
  background-color: #5B2EC5;
    color: #fcfcfc;
  }
  td a {
    border-right: 1px solid #333333;
  }
  td a:last-of-type {
    border: none;
  }
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }
}
@media (max-width: $mobile-bp) {
  .emergencyContainer {
    max-width: 90vw;
    border: 1px solid red;
  }
}
