@import "./_variables.scss";

.navBar {
    width: 100%;
    display: flex;
    padding: 0 10vw;
    padding-top: 2.5vh;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 0;
    img {
        //logo
        width: 12rem;
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin: 0 1.1rem;
            font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $head;
                font-weight: 800;
                svg {
                    max-width: 1.25rem;
                    margin-right: .5rem;
                }
            }
        }
    }
}
@media (max-width: $mobile-bp) {
    .navBar {
        padding: 0;
        padding-top: 5vh;

        ul {
            flex-direction: column;
            align-items: flex-end;
            margin-right: 1.1rem;
            li {
                margin: 0.25rem 0;
            }
        }
    }
}