main {
    img {
        max-width: 100vw;
    }
    button {
        // opacity: 0;
        // position: fixed;
    }
    @media (max-width: 480px) {
        img {
            display: none;
        }
        button {
            opacity: 1;
            position: absolute;
            top: 25vh;
            margin: 0 auto;
        }
    }
}